.contact-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 81vh;
}

.contact-main p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}